.popup {
    border-radius: 15px;
    position:absolute;
    top:10%;
    left:10%;
    right:10%;
    bottom:10%;
    background-color:rgba(0,0,0,0.8);
    border:solid 2px rgba(0,0,0,0.5);
    display:none;
    z-index:9999999999;
    overflow-y:hidden;
    overflow-x:hidden;
}
.popup .popup_content {
    position:absolute;
    top:25px;
    left:15px;
    right:15px;
    bottom:15px;
    font-size:12px;
    color:#eeeeec;
    text-align:left;

    overflow-y:auto;
    overflow-x:auto;
}
.popup a {
    color:#eeeeec;    
}
.popup a.popup_close {
    position:absolute;
    top:5px;
    right:10px;
    cursor:pointer;
}